# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
mpenv/
env/
ENV/

# Django
*.sqlite3
media/
staticfiles/

# Environment
.env
*.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store



# this file is base .gitignore for django projects